html {
    background-color: black;
    color: white;
}

body {

    font-size: 2em;
}

a:visited {
    color: rgb(102, 205, 170);
}

.a{
  padding: 6px;
}

#main{
    text-align: center;
}
h3{
    text-shadow: 1px 1px rgb(116, 114, 114);
}